:root {
  font-family: Comic Neue, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #278D8D;
  background-color: #FFDEADFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  white-space: pre-line;
}

body {
  margin: 0;
  padding: 2rem;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}